@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:wght@500&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;

}

.section, {
    padding: 3rem 0 5rem;
    margin: auto;
    min-height: 95vh;
}



/*navbar*/
.navbarSection {

    background-color: #F3F9FB;



}

#navbarBrand {

    color: #113F67;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;

}

.navbarLink {
    color: #113F67 !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

/*home*/

.bg {

    background-color: #113F67;

}

.bg2 {

    background-color: #F3F9FB;

}

.social_link {

    color: #F3F9FB;

}

.my_pic {

    background: url(./images/my-pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.my_name {

    color: #113F67;
    font-weight: 800;
    font-size: 3.25rem;
    font-family: "Poppins", sans-serif;
}

.my_jtitle {

    color: #113F67;
    font-weight: 600;
    opacity: .8;
    font-family: "Poppins", sans-serif;

}

.about_me {

    color: #113F67;
    opacity: .8;
    font-family: "Poppins", sans-serif;

}

.details {
    color: #113F67;
    opacity: .8;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;

}

.my_details {

    color: #113F67;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

/*skillsets*/

.sec-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 4rem;
    color: #1C2B2D;

}

.sec-subtitle {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;

}

.card {

    border: 0 !important;
    background-color: #F3F9FB !important;
    margin: 30px;
    padding: 0;
    width: 175 px;
}

.card-img-overlay {
    background-color: #113F67;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.card-img-overlay:hover {
    
    opacity: .9;

}

.skill-name {

    display: flex;
    justify-content: center;
    font-size: 2.25rem !important;
    color: #F7F7F7;
    font-family: "Poppins", sans-serif;
    text-shadow: 2px 2px 8px black;
    
    
}

.q_line {
    display: block;
    width: 1px;
    height: 30%;
    margin-right: 0;
    margin-left: 60px;
    border:1px solid black;

}

.q_line2 {
    display: block;
    width: 1px;
    height: 70%;
    margin-right: 0;
    margin-left: 60px;
    border:1px solid black;

}

.q_line3 {
    display: block;
    width: 1px;
    height: 30%;
    margin-right: 0;
    margin-left: 60px;
    border:1px solid black;

}

.quali {

    color: #113F67;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2rem;

}

.q_year {

     color: #113F67;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    padding-left: 25px;


}

.educ {
    margin: 10px;
    border-radius: 20px!important;
    padding: 15px;
    border: 4px solid #113F67!important;
    color: #113F67;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);

}

.q_title {

    font-family: "Poppins", sans-serif;
    font-weight: 700!important;
    font-size: 1.5rem!important;

}

.q_name {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    opacity: .8;
}

p {

   font-family: "Poppins", sans-serif; 

}

.carousel1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.carousel_proj {
    width: 650px !important;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);

}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%343A40' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%343A40' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.visually-hidden {

    opacity: 1 !important;

}

.carousel-control-prev {

    opacity: 0 !important;
    padding-right: 70px ;


   
}


.carousel-control-prev:hover {

    opacity: 1 !important;
}

.carousel-control-next {

    opacity: 0 !important;
    padding-left: 85px ;
}

.carousel-control-next:hover {

    opacity: 1 !important;
}

.carousel-indicators {
    opacity: 0;
}

.projects {

    height: 400px !important;
    width: 650px;
}

.carousel-caption {
    background-color: #113F67;
    height: 100%;
    width: 100%;
    right: 0 !important;
    bottom: 0!important;
    left: 0!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    padding-left: 20px;
    padding-right: 20px;

}

.carousel-caption:hover {
    opacity: .9;
}

.btn_link {

    border-radius: 10px;
    border: 2px solid #F7F7F7;
    color: #113F67;
    font-size: 1.5;
    padding: 10px;
    background-color: #F7F7F7;
    font-family: 'Roboto Mono', monospace;
    font-weight:bolder;

}

.btn_link:hover {
    text-decoration: none;
    border-color: #F7F7F7;
     background-color: #113F67;
     color: #F7F7F7;
}

.copyR {

    font-family: "Poppins", sans-serif; 
    font-size: 1rem;
    color: #F3F9FB


}

@media (max-width: 500px) {

    .my_name {

    
    font-weight: 800;
    font-size: 2rem;
   
}

.sec-title {
   
    font-size: 2rem;
    
}

.sec-subtitle {
   
    font-size: 1rem;
    
}

.carousel_proj {
    width: 100% !important;
    height: 100%!important;


}

.carousel-caption {
    background-color: #113F67;
    padding-top: 20px;
    height: 420px!important;
   

}
.p_title {
    font-size: 1rem !important;
}

.p_desc {

    font-size: .75rem!important;

}

.my_name {


    font-size: 2.25rem;
}


}